<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include defaultimports %>
  </head>
  <body>
    

    <%- include nav %>
    <div class="container-fluid">
        
        <%- include aboutyouquestions.ejs %>
        <%- include aboutyougraph.ejs %>
        
    </div>
    <!-- /.container-fluid -->    

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
