<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include defaultimports %>
  </head>
  <body>

    <%- include nav %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Compare Your Cases</h1>
                <p>Here, you can see then differences in your performance
                    throughout different cases.
                </p>
            </div> 
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <%- include comparegraph.ejs %>
                <!-- <%- include comparebagel.ejs %> -->
            </div> 
        </div>
        <!-- /.row -->
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
